<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css " />
        <link rel="stylesheet" href="public/chatRoom/css/login.css" />
        <link rel="stylesheet" href="public/chatRoom/css/animate.min.css" />
        <link rel="shortcut icon" href="public/chatRoom.ico" />
        <!--[if lt IE 9]>
        <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <title>骚表哥登录界面</title>
    </head>
    <body>
        <div class="container" id="loginContainer">
            <div class="row">
                <div class="col-md-5 col-md-offset-4" id="colOffset">
                    <div class="h2 center-block">
                        <div class="login-head center-block">
                            <!-- <span>登录</span> -->
                        </div>
                    </div>
                    <div id="myLoginInfo">
                        <form class="form fadeInDown" role="form" method="post" id="loginForm" action="./index.php?p=chatroom&a=login&c=login">
                            <div class="form-group" id="fisrt-form">
                                <!--<span id="cueUserId">&nbsp;</span>-->
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    <input class="form-control" id="userIdTxt" name="userLgnName" type="text" value="<?php if (isset($_COOKIE['user_loginName']))echo $_COOKIE['user_loginName']; ?>" placeholder="账号..." />
                                </div>
                            </div>
                            <!--<span id="cuePassword">&nbsp;</span>-->
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"> <span class="glyphicon glyphicon-lock"></span></span>
                                    <input class="form-control" id="passwordTxt" name="passwd" type="password" placeholder="密码..." />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"> <span class="glyphicon glyphicon-barcode"></span></span>
                                    <input class="form-control code" id="captcha" name="captcha" type="text" placeholder="验证码..." />
                                	<img class="captchaImage" alt="加载失败" src="./index.php?p=chatroom&c=Login&a=captcha">
	                               	<button class="btn btn-default" id="captchaBtn" value="换一张">换一张</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" name="rememberPassword" value="1" id="remember">记住账号 </label>
                                    <a href="#">忘记密码&nbsp;&raquo;</a>
                                </div>
                                <div class="forgetPasswd"></div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-default" id="btnLogin" type="submit" value="登录">登录</button>
                                <button class="btn btn-default" id="btnReg" type="button" value="注册"><a href="./index.php?p=chatroom&c=View&a=sRegister">注册</a></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
        <script src="public/chatRoom/js/jQuery-md5.js"></script>
        <script src="public/chatRoom/js/login.js"></script>
        <script type="text/javascript">
      		$(window).on("resize ready",function(){
				var colOffset = $("#colOffset"),
					colOffsetWidth = colOffset.width(),
					containerWidth = $("#loginContainer").width(),
       				windowWidth = $(window).width(),
       				left = containerWidth /2 - colOffsetWidth /2;
       			colOffset.css("margin-left",left);
           	});
		</script>
    </body>
</html>